.mainDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;

        .project-cards {
            display: flex;
            flex-wrap: wrap;

            mat-card {
                width: 350px;
                margin: 10px;
    
                a {
                    text-decoration: none;
                    color: inherit;

                    .card-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        .developed {
                            color: gray;
                            font-size: small;
                        }
                    }

                }
            }
        }
    }
}